<a href="https://colab.research.google.com/github/richmugwa1/Linear-Regression-for-dummies/blob/master/Linear_regression_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Check the version of tensorflow

In [0]:
%tensorflow_version 2.x

# Import Modules to be used in a linear regression

In [0]:
import pandas as pd
import tensorflow as tf
from matplotlib import pyplot as pt

# Define the granuality of the reporting (How detailed is the data)

In [0]:
pd.options.display.max_rows = 10
pd.options.display.float_format = "{:.1f}".format

# Import and manage a Dataset (.csv) into a Pandas dataframe

In [46]:
training_df = pd.read_csv(filepath_or_buffer="https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv")
training_df.head()

   longitude  latitude  ...  median_income  median_house_value
0     -114.3      34.2  ...            1.5             66900.0
1     -114.5      34.4  ...            1.8             80100.0
2     -114.6      33.7  ...            1.7             85700.0
3     -114.6      33.6  ...            3.2             73400.0
4     -114.6      33.6  ...            1.9             65500.0

[5 rows x 9 columns]

Scale the values in the label (median_house_value)

In [0]:
training_df["median_house_value"] /=1000.0

Get Statistics on the dataset to understand the data a little more

In [44]:
training_df.describe()

       longitude  latitude  ...  median_income  median_house_value
count    17000.0   17000.0  ...        17000.0             17000.0
mean      -119.6      35.6  ...            3.9               207.3
std          2.0       2.1  ...            1.9               116.0
min       -124.3      32.5  ...            0.5                15.0
25%       -121.8      33.9  ...            2.6               119.4
50%       -118.5      34.2  ...            3.5               180.4
75%       -118.0      37.7  ...            4.8               265.0
max       -114.3      42.0  ...           15.0               500.0

[8 rows x 9 columns]

# Build and Train the Model

Define a function that builds a model

In [0]:
def build_model(my_learning_rate):
  model = tf.keras.models.Sequential() #Most simple tf keras model is sequential
  model(tf.keras.layers.Dense(units=1, input_shape = (1, ))) # Define a topography of the model with is a single node in a single layer in a simple linear regression model
  model.compile(optimizer=tf.keras.optimizers.RMSprop(Lr=my_learning_rate), 
                loss = "mean_squared_error", 
                metrics = [tf.keras.metrics.RootMeanSquaredError()]) #Compile model by configuring training to minimize the mean squared error
  return model

Define a function that trains the model

In [0]:
def train_model(model, df, feature, label, epochs, batch_size):
  history = model.fit(x=[feature],
                      y=[label],
                      batch_size=batch_size,
                      epochs=epochs) # Feed the model with the feature and label values. It will train for a specified number of epochs.
  trained_weight = model.get_weights()[0] #Gather the trained model's weight
  trained_bias = model.get_weights()[1] #Gather the trained model's bias
  epochs = %history.epochs # The list of epochs is stored separately from the rest of history
  hist = pd.DataFrame(history.history) #Isolate the error for each epoch
  rmse = hist["root_mean_squared_error"] # Take a snap of the rmse at each epoch
  return trained_weight, trained_bias, epochs, rmse

# Plot the Model

Define functions that plot the model

In [0]:
def plot_the_model(trained_weight, trained_bias, feature, label):
  plt.xlabel(feature)
  plt.ylabel(label) # Labeling the axes
  random_examples = training_df.sample(n=200) # Pick 200 random examples from the dataset
  plt.scatter(random_examples[feature], random_examples[label]) #Scatter points of random examples
  x0 = 0
  y0 = trained_bias
  x1 = 10000
  y1 = trained_bias + (trained_wight * x1)
  plt.plot([x0,x1], [y0,y1], c='r' ) # plot a red line that represents the model starting at coordinates(x0,y0) and ends at (x1,y1)
  plt.show() # Render the scatter plot and the redline

Plot the loss curve

In [0]:
def plot_the_loss_curve(epochs, rmse):
  plt.figure()
  plt.xlabel ("Epoch")
  plt.ylabel ("Root Main Square Error")
  plt.plot(epochs, rmse, label = "Loss" )
  plt.legend()
  plt.ylim([rmse.min()*0.97, rmse.max()])
  plt.show()